@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}
body {
  @apply bg-white text-gray-900 font-sans;
}
.container-desktop {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}
